# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
# Dependencies
node_modules
.pnp
.pnp.js
claude
# Local env files
.env
.env.local
.env.dev.local
.env.test.local
.env.prodlocal
.dev.vars
.env*
.secrets

# Test env files
!.env.test

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
.wrangler
/generators
**/*.tsbuildinfo


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
test-results


.sentryclirc
.cursorrules
.windsurfrules
.cursorignore
