FRONTEND_URL="https://turbo-mix.pages.dev"
EMAIL_URL="http://localhost:8989/api/email"
USERS_API_URL="http://localhost:9191/api/users"
COOKIE_NAME="incmix_session_dev"
GOOGLE_REDIRECT_URL="https://turbo-mix.pages.dev/auth/google"
DOMAIN="localhost"
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/auth"
INTL_URL="http://localhost:9090/api/intl"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
