WEATHER_API_KEY=EJ4Gf9sgcuSrSdc3WssJ7f0DR4noh9rZ
LOCATION_API_KEY=1db4298e26914cea8d5d9fe35ece71ab
SERP_API_KEY=bcc49c056b9dff606b53541ae44ca917390332044cfc0b98e8c9fa5cd042d5eb
WEATHER_URL = "https://api.tomorrow.io/v4/weather"
LOCATION_URL = "https://api.geoapify.com/v1"
SERP_NEWS_URL = "https://serpapi.com/search.json"
