AWS_ACCESS_KEY_ID="example-access-key-id"
AWS_ENDPOINT_URL_S3="https://example-s3-endpoint.com"
AWS_REGION="example-region"
AWS_SECRET_ACCESS_KEY="example-secret-access-key"
BUCKET_NAME="example-bucket-name"

PORT = "8282"


FRONTEND_URL="http://localhost:1420"
DOMAIN="localhost"
NODE_ENV="development"


DATABASE_URL="postgresql://postgres:password@localhost:54321/incmix"
COOKIE_NAME="incmix_session_dev"
