PORT = 8383

ANTHROPIC_API_KEY="example-anthropic-api-key"
GOOGLE_AI_API_KEY="example-google-ai-api-key"
FIGMA_TOKEN="example-figma-token"

FRONTEND_URL="http://localhost:1420"
DOMAIN="localhost"
NODE_ENV="development"


DATABASE_URL="postgresql://postgres:password@localhost:54321/incmix"
COOKIE_NAME="incmix_session_dev"
